{% extends 'main.html' %}
{% load static %}
{% block content %}

{#		<div class="col-lg-12" >#}
            {% if email_messages %}
            <body onload="deleteCart()">
            <div class="box-element delete-cart" >
                <h5 >感謝你的購買！</h5>
                <p>{{ email_messages | linebreaksbr }}</p>
                <br>
                {{ checkout_board | safe }}
                <a href="/"> < 回到首頁</a>
            </div>

            </body>
        {% else %}
            <div class="box-element" style="margin-top: 20px">
            <br>
{#			<div class="box-element" style="margin-top: 30px">#}

				<a  class="btn btn-outline-dark" href="{% url 'update-order' %}">&#x2190; 修改訂單</a>
				<br>
				<br>
				<table class="table">
                <h4>訂單細節</h4>
                <br>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
{#					<div style="flex:1"><p>${{item.product.promotion}}</p></div>#}

					<div style="flex:1"><p>${{item.get_total}}</p></div>
				</div>
				{% endfor %}

                {% if after_discount_total %}
                <div class="cart-row">
                        <div style="flex:1"><h6>優惠碼折扣:<span style="color:hotpink"> ${{coupon_discount}}</span></h6></div>
                        <div style="flex:1"><h6>折扣後金額（含運):<span style="color:hotpink"> ${{after_discount_total}}</span></h6></div>
                </div>
               {% else %}

                <div class="cart-row">
                    <div style="flex:1"><h6>小計: <strong>{{order_total}}</strong></h6></div>
					<div style="flex:1"><h6>運費: ${{shipping_fee}}</h6></div>
                    <div style="flex:1"><h6>總金額(含運):<span style="color:hotpink"> ${{shipping_total}}</span></h6></div>
                </div>

                {% endif %}



                    <div class="cart-row"><div ><h6>取貨方式：<span style="color:hotpink">{{ selected_deliver }}</span></h6></div></div>
                    {% if order_total > 1000 %}<div class="cart-row"><div><h6 style="color: hotpink">符合免運資格</h6></div></div>{% endif %}
                </table>


                </div>

        <br>
            <div class="box-element">
                    <h4>填寫訂購資訊</h4>
                <br>
                    <form class="form" method = 'POST'  >
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button class=" btn btn-success " type ='submit' name="order">送出結帳</button>
{#                        <button class=" btn btn-success g-recaptcha" data-sitekey="6Les9aQiAAAAAKRZhn9gqL3OCtElF9PwIBoYmbiT" data-callback='onSubmit' data-action='submit' name="order">送出結帳</button>#}
                    </form>
			</div>

			<br>

		</div>
	</div>
{#    </div>#}
    <br>
    <br>
    {% endif %}



{% endblock content %}