<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOP.com</title>
    <link rel="icon" type="image/x-icon" href="{% static "images/cart.png" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
     <script src="https://www.google.com/recaptcha/api.js"></script>


    <script type="text/javascript">

        {#console.log($)#}

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart')) //#這個cart變成parameter原本是name

		if (cart == undefined){
			cart = {}
			{#console.log('Cart Created!', cart) //#擁有cookie的cart被創造了  cookie裡有一個參數是'cart'#}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

        function deleteCart() {

            cart = {};
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/";
            console.log('delete cart')
    }



    </script>

</head>


<body unload="deleteCart()">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container" >
	  <a class="navbar-brand" href="{% url 'shop' %}">嘻嘻選物</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>


	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item-1"><a class="nav-txt" href="{% url 'payment-report' %}">匯款回報</a></li>
          <li class="nav-item-1"><a class="nav-txt" href="{% url 'order-report' %}">訂單查詢</a></li>
{#            <li class="nav-item-1"><a class="nav-txt" href="#">購物須知</a></li>#}
            <li class="nav-item-1"><a class="nav-txt" href="#">聯絡方式</a></li>
{#	    </ul>#}
{#          <ul class="navbar-nav" id="cart-btn">#}
{#              <li class="form-inline"><a href="{% url 'cart' %}" class="btn btn-info">購物車({{ cartItems }})</a></li>#}
{#          </ul>#}
      </div>

    </nav>

    {% if messages %}
        <div>
        {%  for message in messages %}
        <div class = 'alert alert-success' >{{message}}</div>
        {% endfor %}
        </div>
    {% endif %}

     <div class="container" style="padding: 0px">
            {% block content %}
            {% endblock content %}
     </div>


	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</html>