{% extends 'main.html'%}
{% load static %}
{% block content %}


<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        {% for obj in carousel %}
            {% if forloop.first %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
            {% endif %}
        {% endfor %}
{#      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
    </ol>

    <div class="carousel-inner " >
        {% for obj in carousel %}
            {% if forloop.first %}
                <div class="carousel-item active ">
            {% else %}
                <div class="carousel-item">
            {% endif %}
            <img class="d-block w-100 h-50"  src="{{ obj.imageURL }}" alt="{{obj.title}}">
            </div>

        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
</div>




    {% for b in board %}
    <div class="box-element">
        <h2>購物公布欄</h2>
        <p>{{b.home_board | safe}}</p>
    </div>
    {% endfor %}
    <br>
    <br>
{% for product in products %}
    <div class="col-lg-12">
        <img class="thumbnail" src="{{ product.imageURL }}">
        <div class="box-element">
            <h4>{{ product.name }}</h4>
            <p>{{ product.detail | safe }}</p>
            <p style="text-decoration: line-through">原價：NT{{ product.price }}</p>
            <p>團購價：NT{{ product.promotion }}</p>
            <button class="btn btn-outline-secondary add-btn update-cart" data-product="{{ product.id }}" data-action="add">加入購物車</button></div>
    </div>
    <br>
    <br>
        <div class = 'fixed-cart'>
        <a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="fix-cart-total">{{ cartItems }}</p>
        </div>
{#    切記子model的名稱必須是小寫+ _set#}
{#    {% for i in  product.productimage_set.all  %}#}
{#        <img class = 'thumbnail' src="{{ i.image.url }}">#}
{#    {% endfor %}#}

{% endfor %}

{% endblock %}

